<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.login.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>com.redirections.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedirectServlet</servlet-name>
        <servlet-class>com.redirections.RedirectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApplicantIntakeServlet</servlet-name>
        <servlet-class>com.applicant.ApplicantIntakeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidatorServlet_main</servlet-name>
        <servlet-class>com.validator.ValidatorServlet_main</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DateChecker</servlet-name>
        <servlet-class>com.redirections.DateChecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GSInfo</servlet-name>
        <servlet-class>com.applicant.GSInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CSInfo</servlet-name>
        <servlet-class>com.applicant.CSInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SSInfo</servlet-name>
        <servlet-class>com.applicant.SSInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LRInfo</servlet-name>
        <servlet-class>com.applicant.LRInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JCSInfo</servlet-name>
        <servlet-class>com.applicant.JCSInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JSSInfo</servlet-name>
        <servlet-class>com.applicant.JSSInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JLRInfo</servlet-name>
        <servlet-class>com.applicant.JLRInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Vote_GS_main</servlet-name>
        <servlet-class>com.voting.Vote_GS_main</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Vote_GS</servlet-name>
        <servlet-class>com.voting.Vote_GS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Vote_CS</servlet-name>
        <servlet-class>com.voting.Vote_CS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Vote_SS</servlet-name>
        <servlet-class>com.voting.Vote_SS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Vote_LR</servlet-name>
        <servlet-class>com.voting.Vote_LR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Vote_JCS</servlet-name>
        <servlet-class>com.voting.Vote_JCS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Vote_JSS</servlet-name>
        <servlet-class>com.voting.Vote_JSS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Vote_JLR</servlet-name>
        <servlet-class>com.voting.Vote_JLR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Submit_JLR</servlet-name>
        <servlet-class>com.voting.Submit_JLR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcceptServlet</servlet-name>
        <servlet-class>com.validator.AcceptServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResultCalculation</servlet-name>
        <servlet-class>com.voting.ResultCalculation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GSappl</servlet-name>
        <servlet-class>com.validator.GSappl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RejectServlet</servlet-name>
        <servlet-class>com.validator.RejectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CSappl</servlet-name>
        <servlet-class>com.validator.CSappl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SSappl</servlet-name>
        <servlet-class>com.validator.SSappl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LRappl</servlet-name>
        <servlet-class>com.validator.LRappl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JSSappl</servlet-name>
        <servlet-class>com.validator.JSSappl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JCSappl</servlet-name>
        <servlet-class>com.validator.JCSappl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JLRappl</servlet-name>
        <servlet-class>com.validator.JLRappl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListAppl</servlet-name>
        <servlet-class>com.validator.ListAppl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedirectServlet</servlet-name>
        <url-pattern>/RedirectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApplicantIntakeServlet</servlet-name>
        <url-pattern>/ApplicantIntakeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidatorServlet_main</servlet-name>
        <url-pattern>/ValidatorServlet_main</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DateChecker</servlet-name>
        <url-pattern>/DateChecker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GSInfo</servlet-name>
        <url-pattern>/GSInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CSInfo</servlet-name>
        <url-pattern>/CSInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SSInfo</servlet-name>
        <url-pattern>/SSInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LRInfo</servlet-name>
        <url-pattern>/LRInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JCSInfo</servlet-name>
        <url-pattern>/JCSInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JSSInfo</servlet-name>
        <url-pattern>/JSSInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JLRInfo</servlet-name>
        <url-pattern>/JLRInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Vote_GS_main</servlet-name>
        <url-pattern>/Vote_GS_main</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Vote_GS</servlet-name>
        <url-pattern>/Vote_GS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Vote_CS</servlet-name>
        <url-pattern>/Vote_CS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Vote_SS</servlet-name>
        <url-pattern>/Vote_SS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Vote_LR</servlet-name>
        <url-pattern>/Vote_LR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Vote_JCS</servlet-name>
        <url-pattern>/Vote_JCS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Vote_JSS</servlet-name>
        <url-pattern>/Vote_JSS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Vote_JLR</servlet-name>
        <url-pattern>/Vote_JLR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Submit_JLR</servlet-name>
        <url-pattern>/Submit_JLR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcceptServlet</servlet-name>
        <url-pattern>/AcceptServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResultCalculation</servlet-name>
        <url-pattern>/ResultCalculation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GSappl</servlet-name>
        <url-pattern>/GSappl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RejectServlet</servlet-name>
        <url-pattern>/RejectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CSappl</servlet-name>
        <url-pattern>/CSappl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SSappl</servlet-name>
        <url-pattern>/SSappl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LRappl</servlet-name>
        <url-pattern>/LRappl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JSSappl</servlet-name>
        <url-pattern>/JSSappl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JCSappl</servlet-name>
        <url-pattern>/JCSappl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JLRappl</servlet-name>
        <url-pattern>/JLRappl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAppl</servlet-name>
        <url-pattern>/ListAppl</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
