/*.navbar {
    background-color: #11035b;
    border-radius: 10px;
    border: 1px solid white;
    height: 50px;
}


.navbar ul {
    overflow: auto;
}

 .navbar li{
    float:left;
    list-style: none; 
    margin: 13px 20px;
    
} 
.navbar li a {
    position: relative;
    top: -17px;
    text-decoration: none;
    color: #8ce1dd;
    font-size: 20px;
}

.navbar li a:hover {
    color: red
}

.search {
    float: right;
    color: white;
    padding: 12px 75px;
}

.navbar input {
    border: 2px solid black;
    border-radius: 14px;
    padding: 3px 17px;
    width: 129px;
}

.nav-left {
    float: left;
    list-style: none;
    margin: 13px 20px;
}

.nav-right {
    float: right;
    list-style: none;
    margin: 13px 20px;
}

img {
    position: relative;
    top:7.5px;
    height: 150px;
    width: 150px;
    box-sizing: border-box;
    box-shadow: 0 20px 25px rgba(0,0,0,0.8);
     border:5px solid black; 
    border-radius:5px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    background: rgb(66, 28, 123);
    background: radial-gradient(circle, rgba(66, 28, 123, 0.9223039557619923) 0%, rgba(46, 39, 130, 1) 0%, rgba(154, 98, 250, 1) 0%, rgba(57, 57, 202, 1) 40%, rgba(28, 28, 118, 1) 98%, rgba(81, 47, 216, 1) 100%) fixed; 
}

.congratulations {
    position: relative;
    width: 300px;
    height: 150px;
    margin: 0 auto;
    font-size: 75px;
}

.congratulations span {
    position: absolute;
    bottom:80%;
    right:3%;
    width: 100%;
    height: 100%;
    margin-left: -35px;
    line-height: 530px;
     height*2 - font-size 
    text-align: center;
    transform-origin: top center;
    color:rgb(150,255,255);

}

.congratulations span:nth-of-type(1) {
    transform: translate(-665px, 500px) rotate(287deg);
}

.congratulations span:nth-of-type(2) {
    transform: translate(-635px, 432px) rotate(286deg);
}

.congratulations span:nth-of-type(3) {
    transform: translate(-555px, 270px) rotate(307deg);
}

.congratulations span:nth-of-type(4) {
    transform: translate(-500px, 190px) rotate(-50deg);
}

.congratulations span:nth-of-type(5) {
    transform: translate(-425px, 112px) rotate(-45deg);
}

.congratulations span:nth-of-type(6) {
    transform: translate(-310px, 20px) rotate(-30deg);
}

.congratulations span:nth-of-type(7) {
    transform: translate(-195px, -37px) rotate(-20deg);
}

.congratulations span:nth-of-type(8) {
    transform: translate(-5px, -70px) rotate(0deg);
}

.congratulations span:nth-of-type(9) {
    transform: translate(185px, -37px)rotate(20deg);
}

.congratulations span:nth-of-type(10) {
    transform: translate(310px, 20px)rotate(30deg);
}

.congratulations span:nth-of-type(11) {
    transform: translate(435px, 112px)rotate(45deg);
}

.congratulations span:nth-of-type(12) {
    transform: translate(495px, 190px)rotate(50deg);
}

.congratulations span:nth-of-type(13) {
    transform: translate(545px, 270px)rotate(-307deg);
}

.congratulations span:nth-of-type(14) {
    transform: translate(615px, 432px)rotate(-286deg);
}

.congratulations span:nth-of-type(15) {
    transform: translate(640px, 500px)rotate(-287deg);
}
.council{
    text-align: center;
    font-size: 75px;
    color:rgba(255,255,61);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,0.5);
    padding:20px;
    margin: 0;
    font-weight: 900;
    max-width: 450px;
    position: absolute;
    top:50%;
    left:40.5%;
    height: 450px;
}
.post-1,.post-2,.post-3,.post-4,.post-5,.post-6,.post-7{
    position: absolute;
    text-align: center;
    height: 230px;
    width:54%;
    left:20%;
    box-sizing:border-box;
    box-shadow: 0 35px 40px rgba(0,0,0,0.5);
    text-transform: uppercase;
    margin:35px;
    display:flex;
    font-size:30px;
    border-radius:5px;
    font-weight:600;
    background:rgba(100,201,255,0.6);
    color:rgb(50,20,100);
}

.heading-1,.heading-2,.heading-3,.heading-4,.heading-5,.heading-6,.heading-7{
    position: absolute;
    left:35%;
    margin-top: -20px;
    font-size:40px;
    box-sizing: border-box;
    box-shadow: 0 35px 40px rgba(0,0,0,0.5);
    background:rgba(147,244,255,0.4);
    border-radius:5px;
    width:30%;
    text-align:center;
    color:rgb(0, 0, 65);
}

.post-1{
    top:135%;
}
.heading-1{
    height:20%;
    top:115%;
}
.post-2{
    top:195%;
}

.heading-2{
    top:175%;
    height:20%;
}
.post-3{
    top:260%;
}
.heading-3{
    top:235%;
    height:25%;
}
.post-4{
    top:320%;
}
.heading-4{
    top:300%;
    height:20%;
}
.heading-5{
    top:363%;
    height:20%;
}
.post-5{
    top:383%;
}
.heading-6{
    top:425%;
    height:20%;
}
.post-6{
    top:445%;
}
.heading-7{
    top:490%;
    height:25%;
}
.post-7{
    top:515%;
}
.image{
    flex-basis:28%;
}*/


.navbar {
    background-color: #11035b;
    border-radius: 10px;
    border: 1px solid white;
    height: 50px;
}


.navbar ul {
    overflow: auto;
}

/* .navbar li{
    float:left;
    list-style: none; 
    margin: 13px 20px;
    
} */
.navbar li a {
    position: relative;
    top: -17px;
    text-decoration: none;
    color: #8ce1dd;
    font-size: 20px;
}

.navbar li a:hover {
    color: red
}

.search {
    float: right;
    color: white;
    padding: 12px 75px;
}

.navbar input {
    border: 2px solid black;
    border-radius: 14px;
    padding: 3px 17px;
    width: 129px;
}

.nav-left {
    float: left;
    list-style: none;
    margin: 13px 20px;
}

.nav-right {
    float: right;
    list-style: none;
    margin: 13px 20px;
}

img {
    position: relative;
    top:7.5px;
    height: 150px;
    width: 150px;
    box-sizing: border-box;
    box-shadow: 0 20px 25px rgba(0,0,0,0.8);
    /* border:5px solid black; */
    border-radius:5px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*body {
    background: rgb(66, 28, 123);
    background: radial-gradient(circle, rgba(66, 28, 123, 0.9223039557619923) 0%, rgba(46, 39, 130, 1) 0%, rgba(154, 98, 250, 1) 0%, rgba(57, 57, 202, 1) 40%, rgba(28, 28, 118, 1) 98%, rgba(81, 47, 216, 1) 100%) fixed; 
}*/

.congratulations {
    position: relative;
    width: 300px;
    height: 150px;
    margin: 0 auto;
    font-size: 75px;
}

/*.congratulations span {
    position: absolute;
    bottom:80%;
    right:3%;
    width: 100%;
    height: 100%;
    margin-left: -35px;
    line-height: 530px;
     height*2 - font-size 
    text-align: center;
    transform-origin: top center;
    color: #2C365E;

}*/

.congratulations span:nth-of-type(1) {
    transform: translate(-665px, 500px) rotate(287deg);
}

.congratulations span:nth-of-type(2) {
    transform: translate(-635px, 432px) rotate(286deg);
}

.congratulations span:nth-of-type(3) {
    transform: translate(-555px, 270px) rotate(307deg);
}

.congratulations span:nth-of-type(4) {
    transform: translate(-500px, 190px) rotate(-50deg);
}

.congratulations span:nth-of-type(5) {
    transform: translate(-425px, 112px) rotate(-45deg);
}

.congratulations span:nth-of-type(6) {
    transform: translate(-310px, 20px) rotate(-30deg);
}

.congratulations span:nth-of-type(7) {
    transform: translate(-195px, -37px) rotate(-20deg);
}

.congratulations span:nth-of-type(8) {
    transform: translate(-5px, -70px) rotate(0deg);
}

.congratulations span:nth-of-type(9) {
    transform: translate(185px, -37px) rotate(20deg);
}

.congratulations span:nth-of-type(10) {
    transform: translate(310px, 20px) rotate(30deg);
}

.congratulations span:nth-of-type(11) {
    transform: translate(435px, 112px) rotate(45deg);
}

.congratulations span:nth-of-type(12) {
    transform: translate(495px, 190px) rotate(50deg);
}

.congratulations span:nth-of-type(13) {
    transform: translate(545px, 270px) rotate(-307deg);
}

.congratulations span:nth-of-type(14) {
    transform: translate(615px, 432px) rotate(-286deg);
}

.congratulations span:nth-of-type(15) {
    transform: translate(640px, 500px) rotate(-287deg);
}
.council{
    text-align: center;
    font-size: 75px;
    color:rgba(255,255,61);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,0.5);
    padding:20px;
    margin: 0;
    font-weight: 900;
    max-width: 450px;
    position: absolute;
    top:50%;
    left:40.5%;
    height: 450px;
}
.post-1,.post-2,.post-3,.post-4,.post-5,.post-6,.post-7{
    position: absolute;
    text-align: center;
    height: 230px;
    width:54%;
    left:20%;
    box-sizing:border-box;
    box-shadow: 0 35px 40px rgba(0,0,0,0.5);
    text-transform: uppercase;
    margin:35px;
    display:flex;
    font-size:30px;
    border-radius:5px;
    font-weight:600;
    background:rgba(100,201,255,0.6);
    color:rgb(50,20,100);
}

.heading-1,.heading-2,.heading-3,.heading-4,.heading-5,.heading-6,.heading-7{
    position: absolute;
    left:35%;
    font-size:40px;
    box-sizing: border-box;
    box-shadow: 0 35px 40px rgba(0,0,0,0.5);
    background:rgba(147,244,255,0.4);
    border-radius:5px;
    width:30%;
    text-align:center;
    color:rgb(0, 0, 65);
}

.post-1{
    top:135%;
}
.heading-1{
    height:20%;
    top:115%;
}
.post-2{
    top:195%;
}

.heading-2{
    top:175%;
    height:20%;
}
.post-3{
    top:260%;
}
.heading-3{
    top:235%;
    height:25%;
}
.post-4{
    top:320%;
}
.heading-4{
    top:300%;
    height:20%;
}
.heading-5{
    top:363%;
    height:20%;
}
.post-5{
    top:383%;
}
.heading-6{
    top:425%;
    height:20%;
}
.post-6{
    top:445%;
}
.heading-7{
    top:490%;
    height:25%;
}
.post-7{
    top:515%;
}
.image{
    flex-basis:28%;
}

